body {
  font-size: 400%;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 250%;
  color: black;
}

h4 {
  text-align: center;
  font-size: 150%;
  color: black;
}

.list-unstyled {
  line-height: 250%;
}

li:nth-child(odd) {
  background: #f0f0ef;
}

.swagBag:not(:first-child) {
  margin-top: 50px;
}

.swagItems {
  padding-left: 0;
  padding-right: 0;
}

.btn-complete {
  font-size: 24px;
  width: 100%;
  display: inline-block;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}
