body {
  font-size: 300%;
  font-weight: bold;
}

h2 {
  font-size: 250%;
  color: black;
}

.list-unstyled {
  line-height: 250%;
}


li:nth-child(odd) {
  background: #F0F0EF;
}

.swagBag {
  margin-top: 100px;
}

.btn-complete {
  display: inline-block;
  height: 150px;
}
